@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Monster Database</h1>
    <p class="lead">Monster database include monster materials, monster details and weapon list.</p>
    <p><a href="~/Views/Monsters/Index.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Monster</h2>
        <p>
            Monsters in Monster Hunter World (MHW) are hostile creatures that inhabit the 
            Locations of the world. Players set off in Quests to find and defeat these 
            beasts in order to complete Guild and Village requirements,as well as to 
            harvest valuable Materials and Carvings.
        </p>
        <p>
            Monsters have unique Weaknesses, drops and rewards, that are 
            listed on their individual pages. Make sure to check them out 
            in order to optimize your Equipment (Armor, Weapons and Charms) 
            and refurbish your Supply Box with items useful for your upcoming Quest!
        </p>
        <p><a class="btn btn-default" href="/Monsters/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Materials</h2>
        <p>Materials in Monster Hunter World (MHW) are special Items obtained from carving specific Monsters. 
        After completing a Hunt, players are allowed to harvest the rewards from their slayed prey, and 
        also receive additional rewards depending on the Quest performance.</p>
        <p> There are two types of monster materials:</p>
        <p> First: High Rank monster drop and the players can 
        High rank monster drop by completing storyline quest and player rank</p>
        <p> Second: Low Rank monster drop. all the beginner players start
        with low rank monster drop</p>
        <p><a class="btn btn-default" href="/Materials/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Weapons</h2>
        <p>
            Weapons in Monster Hunter World (MHW) are equipment that assists
            the player during their hunts by helping them deal damage to Monsters. Weapons are
            divided into fourteen types, each with special requirements and a unique move-set,
            complete with strengths and weaknesses.
        </p>
        <p>There are 14 different weapons:</p>
        <p>bow, great sword, sword & shield, dual blades, long sword</p>
        <p>hammer, hunting horn, lance, gunlance, swithc axe</p>
        <p>charge blade, inscet glavie, light bowgun, heavy bowgun</p>
        <p><a class="btn btn-default" href="/Weapons/Index">Learn more &raquo;</a></p>
    </div>
</div>